body {
   background-color: gray;
}
nav {
   text-align: center;
}
a {
   background: darkgreen;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}
h2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   text-align: center;
   color: white;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: darkgreen;
 }
 h1 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: x-large;
   text-align: center;
   color: white;
}
  